<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOG_FOLDER" value="logs" />


    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="EmailSendLogs" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FOLDER}/emailSendLogs.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <logger name="com.example.email_sending_task.controller.EmailController" level="INFO" additivity="false">
        <appender-ref ref="EmailSendLogs"/>
    </logger>
    <logger name="com.example.email_sending_task.service.impl.EmailServiceImpl" level="INFO" additivity="false">
        <appender-ref ref="EmailSendLogs"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="Console"/>
    </root>

</configuration>